.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 70px;
  gap: 48px;
}

.blog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.blog__styles {
  display: flex;
  gap: 16px;
}

.blog__svg--active {
  color: #ea1313;
}

.blog__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.blog__wrapper--list {
  display: flex;
  flex-direction: column;
}

.blog__wrapper {
  gap: 20px;
}

.blog__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.8px;
}

.blog__description {
  line-height: 28px;
  font-size: 20px;
  color: #6b7280;
}

.blog__btn {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #000;
  background: #fcffe7;
  width: 403px;
  text-align: center;
  padding: 9px 0;
}

.blog__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.blog__form-inner {
  grid-column: 3 / span 8;
}

@media (width < 1024px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 24px;
  }

  .blog__title {
    font-size: 26px;
    line-height: 30px;
  }

  .blog__header {
    gap: 12px;
  }

  .blog__wrapper {
    gap: 14px;
  }

  .blog__description {
    font-size: 16px;
  }

  .blog__form {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (width < 768px) {
  .blog__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .blog__btn {
    width: 50%;
  }

  .blog__form-inner {
    grid-column: -1 / 1;
  }
}

@media (width < 576px) {
  .blog__wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
