.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 48px;
}

.blog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.blog__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.blog__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.8px;
}

.blog__description {
  line-height: 28px;
  font-size: 20px;
  color: #6b7280;
}

@media (width < 1024px) {
  .blog {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 24px;
  }

  .blog__title {
    font-size: 26px;
    line-height: 30px;
  }

  .blog__header {
    gap: 12px;
  }

  .blog__wrapper {
    gap: 14px;
  }

  .blog__description {
    font-size: 16px;
  }
}

@media (width < 768px) {
  .blog__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width < 576px) {
  .blog__wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
