.header {
  background-color: #1f2937;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__left {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__name {
  color: #f5f5f5;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.header__avatar {
  border-radius: 16px;
  background: #fff;
}

@media (width < 1024px) {
  .header__name {
    font-size: 13px;
  }

  .header__avatar {
    width: 30%;
  }

  .header__logo {
    width: 30%;
  }

  .header__left {
    justify-content: flex-start;
  }
}

@media (width < 768px) {
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo {
    display: none;
  }

  .header__avatar {
    width: 30%;
  }
}

@media (width < 576px) {
  .header__name {
    display: none;
  }

  .header__avatar {
    width: 70%;
  }
}
