.post {
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post__content {
  display: flex;
  flex-direction: column;
  min-height: 328px;
  padding: 24px;
  flex-grow: 1;
  gap: 12px;
}

.post__image {
  height: 192px;
  object-fit: contain;
}

.post__support {
  margin-top: auto;
  color: #6b7280;
}

.post__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.post__description {
  color: #6b7280;
}
