.post {
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post--list {
  flex-direction: row;
}

.post__content {
  display: flex;
  flex-direction: column;
  min-height: 328px;
  padding: 24px;
  flex-grow: 1;
  gap: 12px;
}

.post__content--list {
  min-height: initial;
}

.post__image {
  height: 192px;
  object-fit: fill;
}

.post__support {
  margin-top: auto;
  color: #6b7280;
}

.post__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.post__description {
  color: #6b7280;
}

@media (width < 1280px) {
  .post__image {
    height: 150px;
  }
}

@media (width < 1024px) {
  .post__image {
    height: 111px;
  }

  .post__title {
    font-size: 16px;
    line-height: 20px;
  }

  .post__description {
    font-size: 14px;
  }

  .post__support {
    font-size: 14px;
  }
}

@media (width < 768px) {
  .post__image {
    height: 128px;
  }
}

@media (width < 576px) {
  .post__image {
    height: 100%;
    width: 100%;
  }
}
