.post {
  border-radius: 8px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.post__content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex-grow: 1;
  height: 328px;
}

.post__support {
  margin-top: auto;
}

.post__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.post__description {
  padding-top: 12px;
}
